<h2>****** Tiny App - URL Shortner *****</h2>

<%if(!username){%>
  <form action="/login" method="POST" style="margin:150px;">
    Current Username:<%= username %><input id="name" type="text" name="username"  style="width: 300px">
    <input type="submit" value="Log In">
  </form><br/><br/>
<%}else{%>
  <form action="/logout" method="POST" style="margin:150px;">
    Current Username:<%= username %><input type="submit" value="Log Out">
  </form><br/><br/>
<%}%>
