<h2>****** Tiny App - URL Shortner // <% if (user_id) { %> Current User <%=user_id.email%> (ID:<%=user_id.id%>) <% } %> *****</h2>

<h4>
  <a href="/login">Log In</a>&nbsp;&nbsp;&nbsp;
  <a href="/logout">Log Out</a>
</h4>
