<!DOCTYPE html>
<html lang="en">




<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
      <% include ./partials/_header %>
  </header>


<% for (key in urls){ %>
    <li><%= key%> -- <%=urls[key]%> -->
      <form method="POST" action="/urls/<%=key%>/update1">
        <input type="submit" value="Update">
      </form>
      <form method="POST" action="/urls/<%=key%>/delete">
        <input type="submit" value="Delete">
      </form>
    </li>
<% } %><br/><br/>


<a href="/urls/new">Link To Shorten A New URL</a>

</body>

</html>